<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon
          color="secondary"
          slot="icon-only"
          name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary" [ngStyle]="titleStyle()" class="ion-text-center ion-padding" style="margin-left: -48px">
      {{"NUMSANDLETTERS.title" | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-item *ngIf="playing">
    <ion-text>{{"NUMSANDLETTERS.time" | translate}}</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item *ngIf="playing">
    <ion-text>{{"NUMSANDLETTERS.points" | translate}}</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div id="mid">
    <ion-slides *ngIf="!playing && !ended">
      <ion-slide class="ion-padding">
        <div class="slide">
          <img *ngIf="language === 'hu'" style="height: 300px; width: 300px" src="../../../assets/img/nums-and-letters/nums-and-letters-logoHUN.PNG" />
          <img *ngIf="language === 'en'" style="height: 300px; width: 300px" src="../../../assets/img/nums-and-letters/nums-and-letters-logoENG.PNG" />
          <h2>{{"NUMSANDLETTERS.title" | translate}}</h2>
          <p [innerHTML]="'NUMSANDLETTERS.firstText' | translate"></p>
          <p>
            {{"NUMSANDLETTERS.swipe" | translate}}<ion-icon
              slot="end"
              name="arrow-forward"
            ></ion-icon>
          </p>
        </div>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img *ngIf="language === 'hu'" style="height: 300px; width: 300px" src="../../../assets/img/nums-and-letters/nums-and-letters-tutorialHUN.PNG" />
        <img *ngIf="language === 'en'" style="height: 300px; width: 300px" src="../../../assets/img/nums-and-letters/nums-and-letters-tutorialENG.PNG" />
        <h2>{{"NUMSANDLETTERS.howToPlay" | translate}}</h2>
        <p>{{"NUMSANDLETTERS.tutorialText" | translate}}</p>
        <p>
          {{"NUMSANDLETTERS.swipe" | translate}}<ion-icon
            slot="end"
            name="arrow-forward"
          ></ion-icon>
        </p>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src="../../../assets/img/110.PNG"/>
        <h2>{{"NUMSANDLETTERS.howMuchTime" | translate}}</h2>
        <p>{{"NUMSANDLETTERS.timeText" | translate}}</p>
        <p>
          {{"NUMSANDLETTERS.swipe" | translate}}<ion-icon
            slot="end"
            name="arrow-forward"
          ></ion-icon>
        </p>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img *ngIf="language === 'hu'" style="height: 300px; width: 300px;" src="../../../assets/img/readyHUN.PNG"/>
        <img *ngIf="language === 'en'" style="height: 300px; width: 300px;" src="../../../assets/img/readyENG.PNG"/>
        <h2>{{"NUMSANDLETTERS.ready" | translate}}</h2>
        <ion-button fill="clear" (click)="onStart()"
          >Start <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-slide>
    </ion-slides>
    <ion-card class="ion-padding" *ngIf="playing">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3>{{"NUMSANDLETTERS.title1" | translate}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col> <h3 class="ion-padding">{{label1}}</h3></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3 class="ion-padding">{{label2}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>{{"NUMSANDLETTERS.title2" | translate}}</h3>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding">
          <ion-col>
            <ion-button
              style="width: 100%"
              *ngIf="playing"
              (click)="clicked('false')"
              >{{"NUMSANDLETTERS.false" | translate}}</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button
              style="width: 100%"
              *ngIf="playing"
              (click)="clicked('true')"
              >{{"NUMSANDLETTERS.true" | translate}}</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <div *ngIf="ended">
      <ion-label>
        {{"GAMES.finalResult" | translate}}{{result}}
      </ion-label>
    </div>

    <div *ngIf="drawChart && ended">
      <app-user-vs-average-chart></app-user-vs-average-chart>
    </div>
  </div>
</ion-content>
