ion-title{
    font-size: 36px;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
}

ion-toolbar {
  --ion-background-color: #F19066 !important;
}

ion-img{
    height:200px;
    width: 200px;
    margin: auto;
}

ion-item{
    font-size: 18px;
}