<ion-header >
  <ion-toolbar class="ion-padding">
    
    <ion-img src="assets/img/logo.png"></ion-img>
    <ion-title text class="ion-text-center">404 Error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card [ngStyle]="styleCard()" class="ion-padding">
    <ion-item lines="none">
      <ion-label class="ion-text-wrap" color="secondary">I'm sorry, but you found a page that doesn't exist.</ion-label>
    </ion-item>
  </ion-card>

  <ion-card [ngStyle]="styleCard()" class="ion-padding">
    <ion-item lines="none" (click)="goHome()">
      <ion-label color="secondary">Don't worry, if you click here you can try my games!</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" ></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
