ion-title {
  padding: 20px;
}

ion-toolbar {
  --ion-background-color: #f19066 !important;
}

ion-img {
  height: 200px;
  width: 200px;
  margin: auto;
}

ion-item {
  font-size: 18px;
}

ion-header {
  background-image: none;
  box-shadow: var(--my-shadow);
}