<ion-header>
  <ion-title text class="ion-text-center">Go/No-go game</ion-title>
</ion-header>

<ion-content>

  <div id="asd">

    <ion-card>
      <ion-card-content>{{task}}</ion-card-content>
    </ion-card>

    <div *ngIf="!playing && !ended">
      <ion-button (click)="start()">Start</ion-button>
    </div>

    <div *ngIf="playing">
      <ion-card>
        <ion-label>
          {{timeText}}
        </ion-label>
      </ion-card>

      <ion-card>
        <ion-label>
          {{text}}
        </ion-label>
      </ion-card>

      <ion-button (click)="pushed($event)">True!</ion-button>
    </div>

    <div *ngIf="!playing && ended">
      <ion-label>
        {{finalResult}}
      </ion-label>
    </div>


  </div>
</ion-content>