<ion-header>
  <ion-title text class="ion-text-center">Colour Game</ion-title>
</ion-header>

<ion-content>

  <p>
    <ion-button (click)="changeLabelName()">
      Click Me
    </ion-button>
  </p>

  <div *ngIf="lbl1text && lbl2text">

    <ion-label class="random" [style.color]="lbl1color">
      {{lbl1text}}
    </ion-label>
    <br>
    <ion-label class="random" [style.color]="lbl2color">
      {{lbl2text}}
    </ion-label>

    <br>

  </div>

  <!--<p>
    <ion-button type="submit" (click)="point(asd.id, lblName.id, lblName2.id)">
      ASDASD
    </ion-button>
  </p> -->


</ion-content>