ion-header{
    height: 75px;
    background-color: #F19066;
}

ion-title{
    font-size: 30px;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
}

ion-toolbar{
    color: primary;
}
ion-card {
    border: 3px solid black;
}

ion-content{
    --ion-background-color: #F3A683;
}

ion-footer{
    height: 50px;
}

.random{
    font-size: 40px;
}
