#pageTitle{
    font-size: 30px;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
}

ion-toolbar {
  --ion-background-color: #F19066 !important;
}

ion-header {
    background-image: none;
    box-shadow: var(--my-shadow);
}

ion-card {
    --ion-background-color: #F3A683;
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    #asd {
        margin: auto;
        width: 80%;
        padding: 10px;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
    #asd {
        margin: auto;
        width: 70%;
        padding: 10px;
    }
}

@media only screen and (min-width: 1500px) {
    #asd {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
}