<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHomePage()">
        <ion-icon class="ion-padding" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding" text class="ion-text-center" style="margin-left: -48px">
      Statistics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding" [ngStyle]="styleContainer()">
    <ion-card class="ion-padding" [ngStyle]="styleCard()">
      <ion-card-title class="ion-padding">Total points per games</ion-card-title>
      <ion-card-content><app-total-score-chart [sumData]="sumData"></app-total-score-chart></ion-card-content>
    </ion-card>
  
    <ion-card class="ion-padding" [ngStyle]="styleCard()">
      <ion-card-title class="ion-padding">Games played by category</ion-card-title>
      <ion-card-content><app-played-games-chart></app-played-games-chart></ion-card-content>
    </ion-card>
  </div>
  <div class="ion-padding" [ngStyle]="styleContainer()">
    <ion-card class="ion-padding" [ngStyle]="styleCard()">
      <ion-card-title class="ion-padding">Total points per games</ion-card-title>
      <ion-card-content><app-total-score-chart [sumData]="sumData"></app-total-score-chart></ion-card-content>
    </ion-card>
  
    <ion-card class="ion-padding" [ngStyle]="styleCard()">
      <ion-card-title class="ion-padding">Games played by category</ion-card-title>
      <ion-card-content><app-played-games-chart></app-played-games-chart></ion-card-content>
    </ion-card>
  </div>
</ion-content>
