<ion-header>
  <ion-title text class="ion-text-center">Statistics</ion-title>
</ion-header>

<ion-content>
  <div id="asd">
    <ion-card>
      <ion-card-title>Cognitive points</ion-card-title>
      <app-my-chart></app-my-chart>
      <p>asdasdasd</p>
    </ion-card>

    <ion-card>
      <ion-card-title>Cognitive points</ion-card-title>
      <app-played-games-chart></app-played-games-chart>
      <app-user-vs-average-chart></app-user-vs-average-chart>
      <p>asdasdasd</p>
    </ion-card>
  </div>

  
</ion-content>