<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHomePage()">
        <ion-icon class="ion-padding" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-padding" text class="ion-text-center" style="margin-left: -48px">
      Statistics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container" [ngStyle]="styleContainer()">
    <ion-card [ngStyle]="styleCard()" class="ion-padding">
      <ion-card-title class="ion-padding">Total points per games</ion-card-title>
      <app-total-score-chart class="ion-padding" [sumData]="sumData"></app-total-score-chart>
    </ion-card>
  
    <ion-card [ngStyle]="styleCard()" class="ion-padding">
      <ion-card-title class="ion-padding">Games played by category</ion-card-title>
      <app-played-games-chart class="ion-padding" style="height: 50vh"></app-played-games-chart>
    </ion-card>
  </div>
</ion-content>
