<ion-header>
  <ion-title class="ion-text-center" color="secondary">Settings</ion-title>
</ion-header>

<ion-content>
  <div id="asd">
    <ion-card (click)="goToSettings('main-tabs/profile')">
      <ion-item lines="none">
        <ion-label color="secondary">Profile</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" class="ion-padding-end"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <ion-label color="secondary">Language</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" class="ion-padding-end"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <ion-label color="secondary">Notification</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" class="ion-padding-end"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none">
        <ion-label color="secondary">Message</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" class="ion-padding-end"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item lines="none" (click)="logout()">
        <ion-label color="secondary">Sign out</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" class="ion-padding-end"></ion-icon>
      </ion-item>
    </ion-card>
  </div>

</ion-content>