ion-title{
    font-size: 30px;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
  }
  
  ion-toolbar {
  --ion-background-color: #F19066 !important;
  }
  
  ion-card{
    --ion-background-color: #F3A683;
    border: 2px solid black;
    border-radius: 25px;
    min-height: 50px;
}