<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text class="ion-text-center" style="margin-left: -48px;">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card id="asd" class="ion-padding">
    <ion-grid>
      <ion-row class="ion-padding">
        <ion-col class="ion-align-self-center" size="2">
          <ion-icon color="secondary" size="large" name="person-sharp"></ion-icon>
        </ion-col>
        <ion-col class="ion-align-self-center">
          {{name}}
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col size="2">
          <ion-icon size="large" name="game-controller"></ion-icon>
        </ion-col>
        <ion-col class="ion-align-self-center">
          {{username}}
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col size="2">
          <ion-icon size="large" name="mail-sharp"></ion-icon>
        </ion-col>
        <ion-col class="ion-align-self-center">
          {{email}}
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col size="2">
          <ion-icon size="large" name="calendar"></ion-icon>
        </ion-col>
        <ion-col class="ion-align-self-center">
          {{birthdate}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
