<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text class="ion-text-center" style="margin-left: -48px">
      {{"EQUATIONS.title" | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-item *ngIf="playing">
    <ion-text>{{"EQUATIONS.time" | translate}}</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item *ngIf="playing">
    <ion-text>{{"EQUATIONS.points" | translate}}</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div id="asd">
    <ion-slides *ngIf="!playing && !ended">
      <ion-slide class="ion-padding">
        <div class="slide">
          <img style="height: 300px; width: 300px;" src=""/>
          <h2>{{"EQUATIONS.title" | translate}}</h2>
          <p [innerHTML]="'EQUATIONS.firstText' | translate"></p>
          <p>{{"EQUATIONS.swipe" | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
        </div>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>{{"EQUATIONS.howToPlay" | translate}}</h2>
        <p>{{"EQUATIONS.tutorialText" | translate}}</p>
        <p>{{"EQUATIONS.swipe" | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>{{"EQUATIONS.howMuchTime" | translate}}</h2>
        <p>{{"EQUATIONS.timeText" | translate}}</p>
        <p>{{"EQUATIONS.swipe" | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>{{"EQUATIONS.ready" | translate}}</h2>
        <ion-button fill="clear" (click)="onStart()">Start<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>
  </ion-slides>

    <div id="mid" *ngIf="playing">
      <ion-grid>
        <ion-card class="ion-padding">
        <ion-row>
          <ion-col>
            <ion-card class="textCard">
              <h3> {{equation1}} </h3>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card class="textCard">
              <h3> {{equation2}} </h3>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-card>

        <ion-row>
          <ion-col>
            <ion-button class="ion-text-center" (click)="onClicked('first')" style="width: 100%;height: 5vh;">{{"EQUATIONS.first" | translate}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="ion-text-center" (click)="onClicked('draw')" style="width: 100%;height: 5vh;">{{"EQUATIONS.draw" | translate}}</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="ion-text-center" (click)="onClicked('second')"style="width: 100%;height: 5vh;">{{"EQUATIONS.second" | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      

      

      
    </div>

    <div *ngIf="ended">
      <ion-label> {{finalResult}} </ion-label>
    </div>
  </div>

  <div *ngIf="drawChart">
    <app-user-vs-average-chart></app-user-vs-average-chart>
  </div>
</ion-content>
