<ion-header>
    <ion-title>Login</ion-title>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label color="secondary" position="floating">Email</ion-label>
      <ion-input color="secondary" type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="secondary" position="floating">Password</ion-label>
      <ion-input color="secondary" type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  

  <ion-button fill="solid" expand="block" color="primary" (click)="login()">Login</ion-button>
  <ion-button fill="solid" expand="block" color="primary" (click)="register()">Register</ion-button>
</ion-card>
</ion-content>
<ion-footer>
  
</ion-footer>