<ion-header>
  <ion-title text class="ion-text-center">Login</ion-title>
</ion-header>

<ion-content>
  <div id="asd">
    <ion-card>
      <ion-item lines="none">
        <ion-label color="secondary" position="floating">Email</ion-label>
        <ion-input color="secondary" type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label color="secondary" position="floating">Password</ion-label>
        <ion-input color="secondary" type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>


      <ion-button fill="solid" expand="block" color="primary" (click)="login()">Login</ion-button>

      <ion-button fill="none" id=gotoregister (click)="goToRegister()">If you don't have account, sign up!</ion-button>
    </ion-card>
  </div>
</ion-content>