ion-header{
    height: 75px;
    background-color: #F19066;
}

ion-title{
    font-size: 50px;
    color: white;
}

ion-toolbar{
    color: primary;
}
ion-card {
    border: 3px solid black;
}

ion-content{
    --ion-background-color: #F3A683;
}

ion-footer{
    height: 50px;
}

