<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text class="ion-text-center" style="margin-left: -48px">
      Game7
    </ion-title>
  </ion-toolbar>
  <ion-item *ngIf="playing">
    <ion-text>Time remeaning</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item *ngIf="playing">
    <ion-text>Points</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div id="asd">
    <ion-slides *ngIf="!playing && !ended">
      <ion-slide class="ion-padding">
        <div class="slide">
          <img style="height: 300px; width: 300px;" src=""/>
          <h2>Colour Game</h2>
          <p>The <b>colour game</b> is a game to develop your focus.</p>
          <p>Swipe for more information <ion-icon slot="end" name="arrow-forward"></ion-icon></p>
        </div>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>How to play?</h2>
        <p>You have only 120 seconds to play.</p>
        <p>As you can see there are two labels. You have to <b>press</b> or the true button if the text of the first label and the colour of the bottom label is the same, either you have to <b>press</b> the false button if it is not true.</p>
        <p>Swipe for more information <ion-icon slot="end" name="arrow-forward"></ion-icon></p>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>Ready to Play?</h2>
        <ion-button fill="clear" (click)="onStart()">Start <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>
  </ion-slides>
    <ion-card id="mid" *ngIf="playing">

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="equationCard">
              <h3>{{equation1}}</h3>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3 class="ion-float-end">X = </h3>
          </ion-col>
          <ion-col>
              <h3 *ngIf="currentNumber" class="ion-float-start">{{currentNumber}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="addNumber('1')"><h3>1</h3></ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="addNumber('2')"><h3>2</h3></ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="addNumber('3')"><h3>3</h3></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="addNumber('4')"><h3>4</h3></ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="addNumber('5')"><h3>5</h3></ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="addNumber('6')"><h3>6</h3></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="addNumber('7')"><h3>7</h3></ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="addNumber('8')"><h3>8</h3></ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="addNumber('9')"><h3>9</h3></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="addNumber('-')"><h3>-</h3></ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="addNumber('0')"><h3>0</h3></ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="clickedOk(currentNumber)"><h3>OK</h3></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item class="itemBox ion-margin ion-text-center" lines="none">
        <ion-label class="text" [style.color]="lbl1color">
          
        </ion-label>
      </ion-item>

      <ion-item class="itemBox ion-margin ion-text-center" lines="none">
        <ion-label> {{label2}} </ion-label>
        <ion-label> {{label4}} </ion-label>
      </ion-item>

      <div id="asdasdasd1">
        <div id="0" class="asdasdasd" *ngIf="playing">
        </div>
      </div>
    </ion-card>

    <div *ngIf="playing">
      
    </div>

    <div *ngIf="ended">
      <ion-label> {{finalResult}} </ion-label>
    </div>
  </div>

  <div *ngIf="drawChart">
    <app-user-vs-average-chart></app-user-vs-average-chart>
  </div>
</ion-content>
