<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text class="ion-text-center" style="margin-left: -48px">
      Grid game
    </ion-title>
  </ion-toolbar>
  <ion-item *ngIf="playing">
    <ion-text>Time remeaning</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item *ngIf="playing">
    <ion-text>Points</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content>
  <ion-grid *ngIf="playing">
    <ion-row>
      <ion-col size="4" *ngFor="let item of generatedGrids; let i = index">
        <ion-card
          (click)="clickOnItem(item, i)"
          class="ion-activatable ripple-parent">
          <div class="container" *ngIf="item.show">
            <h3>{{ item.num }}</h3>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="drawChart" class="ion-padding">
    <app-user-vs-average-chart></app-user-vs-average-chart>
  </div>
</ion-content>
<ion-footer *ngIf="!playing">
  <ion-toolbar>
    <ion-button expand="block" class="ion-margin" (click)="start()">Start game</ion-button>
  </ion-toolbar>
</ion-footer>
