<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text class="ion-text-center" style="margin-left: -48px">
      Grid game
    </ion-title>
  </ion-toolbar>
  <ion-item *ngIf="playing">
    <ion-text>Time remeaning</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item *ngIf="playing">
    <ion-text>Points</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides *ngIf="!playing && !ended">
    <ion-slide class="ion-padding">
      <div class="slide">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>Colour Game</h2>
        <p>The <b>colour game</b> is a game to develop your focus.</p>
        <p>Swipe for more information <ion-icon slot="end" name="arrow-forward"></ion-icon></p>
      </div>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img style="height: 300px; width: 300px;" src=""/>
      <h2>How to play?</h2>
      <p>You have only 120 seconds to play.</p>
      <p>As you can see there are two labels. You have to <b>press</b> or the true button if the text of the first label and the colour of the bottom label is the same, either you have to <b>press</b> the false button if it is not true.</p>
      <p>Swipe for more information <ion-icon slot="end" name="arrow-forward"></ion-icon></p>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img style="height: 300px; width: 300px;" src=""/>
      <h2>Ready to Play?</h2>
      <ion-button fill="clear" (click)="start()">Start <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
</ion-slides>
  <ion-grid *ngIf="playing">
    <ion-row>
      <ion-col size="4" *ngFor="let item of generatedGrids; let i = index">
        <ion-card
          [class.grow]="item.show"
          [color]="item.colour"
          (click)="clickOnItem(item, i)"
          class="ion-activatable ripple-parent">
          <div class="container" *ngIf="item.show">
            
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="drawChart" class="ion-padding">
    <app-user-vs-average-chart></app-user-vs-average-chart>
  </div>
</ion-content>
<ion-footer *ngIf="!playing">
  <ion-toolbar>
    <ion-button expand="block" class="ion-margin" (click)="start()">Start game</ion-button>
  </ion-toolbar>
</ion-footer>
