<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Memory game
    </ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-text>Time remeaning</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item>
    <ion-text>Points</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid style="height: 100%; display: flex; flex-flow: column;" *ngIf="playing">
    <ion-row style="flex-grow: 1;">
      <ion-col *ngFor="let mem of memory; let i = index" size="6" style="height: 25%;">
        <ion-card class="ion-padding ion-activatable ripple-parent" style="height: 100%;" (click)="flipCard(mem, i)" *ngIf="!mem.matched" [color]="mem.color" [class.rotate-anim]="mem.show">
          <div style="display: flex; justify-content: center; align-items: center; height: 100%;" *ngIf="mem.show">
            <ion-icon [name]="mem.item" style="font-size: 50px;"></ion-icon>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


<div *ngIf="drawChart">
  <app-user-vs-average-chart></app-user-vs-average-chart>
</div>
</ion-content>
<ion-footer *ngIf="!playing && !ended">
  <ion-toolbar>
    <ion-button expand="block" class="ion-margin" (click)="startGame()">Start game</ion-button>
  </ion-toolbar>
</ion-footer>