<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text class="ion-text-center" style="margin-left: -48px;">
      Me
    </ion-title>
  </ion-toolbar>
  <ion-item *ngIf="playing">
    <ion-text>Time remeaning</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item *ngIf="playing">
    <ion-text>Points</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides *ngIf="!playing && !ended">
    <ion-slide class="ion-padding">
      <div class="slide">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>Colour Game</h2>
        <p>The <b>colour game</b> is a game to develop your focus.</p>
        <p>Swipe for more information <ion-icon slot="end" name="arrow-forward"></ion-icon></p>
      </div>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img style="height: 300px; width: 300px;" src=""/>
      <h2>How to play?</h2>
      <p>You have only 120 seconds to play.</p>
      <p>As you can see there are two labels. You have to <b>press</b> or the true button if the text of the first label and the colour of the bottom label is the same, either you have to <b>press</b> the false button if it is not true.</p>
      <p>Swipe for more information <ion-icon slot="end" name="arrow-forward"></ion-icon></p>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img style="height: 300px; width: 300px;" src=""/>
      <h2>Ready to Play?</h2>
      <ion-button fill="clear" (click)="startGame()">Start <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
</ion-slides>
  <ion-grid style="height: 100%; display: flex; flex-flow: column;" *ngIf="playing">
    <ion-row style="flex-grow: 1;">
      <ion-col *ngFor="let mem of memory; let i = index" size="6" style="height: 25%;">
        <ion-card class="ion-padding ion-activatable ripple-parent" style="height: 100%;" (click)="clicked(mem, i)" *ngIf="!mem.matched" [color]="mem.color" [class.rotate-anim]="mem.show">
          <div style="display: flex; justify-content: center; align-items: center; height: 100%;" *ngIf="mem.show">
            <ion-icon [name]="mem.item" style="font-size: 50px;"></ion-icon>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


<div *ngIf="drawChart">
  <app-user-vs-average-chart></app-user-vs-average-chart>
</div>
</ion-content>
<ion-footer *ngIf="!playing && !ended">
  <ion-toolbar>
    <ion-button expand="block" class="ion-margin" (click)="startGame()">Start game</ion-button>
  </ion-toolbar>
</ion-footer>