ion-title{
    font-size: 30px;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
}

ion-toolbar {
  --ion-background-color: #F19066 !important;
}

.rotate-anim {
    animation: rotate 500ms;
}

@keyframes rotate {
    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}