<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon
          color="secondary"
          slot="icon-only"
          name="arrow-back"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary" [ngStyle]="titleStyle()" class="ion-text-center" style="margin-left: -48px">
      {{"MEMORYCARD.title" | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-item *ngIf="playing">
    <ion-text>{{"MEMORYCARD.time" | translate}}</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item *ngIf="playing">
    <ion-text>{{"MEMORYCARD.points" | translate}}</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding">
    <ion-slides *ngIf="!playing && !ended">
      <ion-slide class="ion-padding">
        <div class="slide">
          <img style="height: 300px; width: 300px" src="../../../assets/img/memorycard/memory-card-logo.PNG" />
          <h2>{{"MEMORYCARD.title" | translate}}</h2>
          <p [innerHTML]="'MEMORYCARD.firstText' | translate"></p>
          <p>
            {{"MEMORYCARD.swipe" | translate}}<ion-icon
              slot="end"
              name="arrow-forward"
            ></ion-icon>
          </p>
        </div>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px" src="../../../assets/img/memorycard/memory-card-tutorial.PNG" />
        <h2>{{"MEMORYCARD.howToPlay" | translate}}</h2>
        <p>{{"MEMORYCARD.tutorialText" | translate}}</p>
        <p>
          {{"MEMORYCARD.swipe" | translate}}<ion-icon
            slot="end"
            name="arrow-forward"
          ></ion-icon>
        </p>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src="../../../assets/img/100.PNG"/>
        <h2>{{"MEMORYCARD.howMuchTime" | translate}}</h2>
        <p>{{"MEMORYCARD.timeText" | translate}}</p>
        <p>
          {{"MEMORYCARD.swipe" | translate}}<ion-icon
            slot="end"
            name="arrow-forward"
          ></ion-icon>
        </p>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img *ngIf="language === 'hu'" style="height: 300px; width: 300px;" src="../../../assets/img/readyHUN.PNG"/>
        <img *ngIf="language === 'en'" style="height: 300px; width: 300px;" src="../../../assets/img/readyENG.PNG"/>
        <h2>{{"MEMORYCARD.ready" | translate}}</h2>
        <ion-button fill="clear" (click)="startGame()"
          >Start<ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-slide>
    </ion-slides>
    <ion-grid
      style="height: 100%; display: flex; flex-flow: column"
      *ngIf="playing"
    >
      <ion-row style="flex-grow: 1">
        <ion-col
          *ngFor="let mem of memory; let i = index"
          size="6"
          style="height: 25%"
        >
          <ion-card
            class="ion-padding ion-activatable ripple-parent"
            style="height: 100%"
            (click)="clicked(mem, i)"
            *ngIf="!mem.matched"
            [color]="mem.color"
            [class.rotate-anim]="mem.show"
          >
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
              "
              *ngIf="mem.show"
            >
              <ion-icon [name]="mem.item" style="font-size: 50px"></ion-icon>
            </div>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="ended">
      <ion-label>
        {{"GAMES.finalResult" | translate}}{{result}}
      </ion-label>
    </div>

    <div *ngIf="drawChart && ended">
      <app-user-vs-average-chart></app-user-vs-average-chart>
    </div>
</ion-content>
