ion-header{
    height: 75px;
    background-color: #F19066;
}

ion-title{
    font-size: 30px;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
}

ion-toolbar{
    color: primary;
}
ion-card {
    border: 3px solid black;
}

ion-content{
    --ion-background-color: #F3A683;
}

ion-footer{
    height: 50px;
}

#login{
    width: 30%;
    margin: 10px auto 3px auto ;
    margin-bottom: 10px;
}

#gotoregister{
    color: white!important;
    margin: auto auto 3px auto ;
    text-align: center;
    width: 100%;
    font-size: 12px;
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    #asd {
        margin: auto;
        width: 80%;
        padding: 10px;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
    #asd {
        margin: auto;
        width: 70%;
        padding: 10px;
    }
}

@media only screen and (min-width: 1500px) {
    #asd {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
}
