ion-title {
  padding: 20px;
}

ion-toolbar {
  --ion-background-color: #f19066 !important;
}

ion-content {
  --ion-background-color: #eeeeee;
}

ion-header {
  background-image: none;
  box-shadow: var(--my-shadow);
}

ion-input{
  --placeholder-color: rgb(250, 200, 180);
  --placeholder-opacity: 1;
}

#login {
  width: 300px;
  margin: 10px auto 3px auto;
  margin-bottom: 10px;
}

#gotoregister {
  color: white !important;
  text-align: center;
  width: 100%;
  font-size: 12px;
  height: 50px;
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  #mid {
    margin: auto;
    width: 70%;
    padding: 10px;
  }

  ion-title {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1501px) {
  #mid {
    margin: auto;
    width: 60%;
    padding: 10px;
  }

  ion-title {
    font-size: 36px;
  }
}
