ion-title {
  font-size: 36px;
  color: white;
  text-align: center;
  margin: auto;
  padding: 20px;
}

ion-toolbar {
  --ion-background-color: #f19066 !important;
}

ion-content {
  --ion-background-color: #eeeeee;
}
/*.picker-opt.picker-opt-selected {
  color: var(--ion-color-primary) !important;
}

.picker-opt {
  color: #7994A2 !important;
}

ion-datetime {
  --placeholder-color: lightgrey;
}

ion-datetime::placeholder{
  color: lightgrey
}*/

ion-input{
  --placeholder-color: rgb(250, 200, 180);
  --placeholder-opacity: 1;
}

.datetime-placeholder {
  color: rgb(250, 200, 180);
}

ion-datetime{
  color: white;
  padding-left: 8px ;
}

#gotoLogin {
  color: white !important;
  text-align: center;
  width: 100%;
}

#register {
  width: 300px;
  margin: 10px auto 3px auto;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  #mid {
    margin: auto;
    width: 70%;
    padding: 10px;
  }
}

@media only screen and (min-width: 1501px) {
  #mid {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
}
