ion-title{
    font-size: 36px;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
}

ion-toolbar {
  --ion-background-color: #F19066 !important;
}

ion-content{
    --ion-background-color: #EEEEEE;
}

#gotoLogin{
  color: white!important;
  margin: auto auto 3px auto ;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
  #mid {
      margin: auto;
      width: 70%;
      padding: 10px;
  }
}

@media only screen and (min-width: 1501px) {
  #mid {
      margin: auto;
      width: 60%;
      padding: 10px;
  }
}
