<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text class="ion-text-center" style="margin-left: -48px">
      {{"NUMSANDLETTERS2.title" | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-item *ngIf="playing">
    <ion-text>{{"NUMSANDLETTERS2.time" | translate}}</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item *ngIf="playing">
    <ion-text>{{"NUMSANDLETTERS2.points" | translate}}</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div id="asd">
    <ion-slides *ngIf="!playing && !ended">
      <ion-slide class="ion-padding">
        <div class="slide">
          <img style="height: 300px; width: 300px;" src=""/>
          <h2>{{"NUMSANDLETTERS2.title" | translate}}</h2>
          <p>The <b>colour game</b> is a game to develop your focus.</p>
          <p>{{"NUMSANDLETTERS2.swipe" | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
        </div>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>{{"NUMSANDLETTERS2.howToPlay" | translate}}</h2>
        <p>{{"NUMSANDLETTERS2.tutorialText" | translate}}</p>
        <p>{{"NUMSANDLETTERS2.swipe" | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>{{"NUMSANDLETTERS2.howToPlay" | translate}}</h2>
        <p>{{"NUMSANDLETTERS2.tutorialText2" | translate}}</p>
        <p>{{"NUMSANDLETTERS2.swipe" | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>{{"NUMSANDLETTERS2.howMuchTime" | translate}}</h2>
        <p>{{"NUMSANDLETTERS2.timeText" | translate}}</p>
        <p>{{"NUMSANDLETTERS2.swipe" | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>{{"NUMSANDLETTERS2.ready" | translate}}</h2>
        <ion-button fill="clear" (click)="onStart()">Start <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>
  </ion-slides>

    <ion-card id="mid" *ngIf="playing">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3>{{"NUMSANDLETTERS2.title1" | translate}}</h3>
          </ion-col>
          <ion-col>
            <h3>{{"NUMSANDLETTERS2.title3" | translate}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3 class="ion-padding">{{label1}}</h3>
          </ion-col>
          <ion-col>
            <h3 class="ion-padding">{{label3}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3 class="ion-padding">{{label2}}</h3>
          </ion-col>
          <ion-col>
            <h3 class="ion-padding">{{label4}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>{{"NUMSANDLETTERS2.title2" | translate}}</h3>
          </ion-col>
          <ion-col>
            <h3>{{"NUMSANDLETTERS2.title4" | translate}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="ion-padding" *ngIf="playing" (click)="clicked('false')">
              <ion-button>False</ion-button>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-padding" *ngIf="playing" (click)="clicked('true')" >
              <ion-button>True</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <div *ngIf="ended">
      <ion-label> {{finalResult}} </ion-label>
    </div>
  </div>

  <div *ngIf="drawChart">
    <app-user-vs-average-chart></app-user-vs-average-chart>
  </div>
</ion-content>
