<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text class="ion-text-center" style="margin-left: -48px">
      Game6
    </ion-title>
  </ion-toolbar>
  <ion-item *ngIf="playing">
    <ion-text>Time remeaning</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item *ngIf="playing">
    <ion-text>Points</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div id="asd">
    <div *ngIf="!playing && !ended">
      <ion-button (click)="onStart()"> Let's start! </ion-button>
    </div>
    <div id="mid" *ngIf="playing">
      <div>
        <ion-label> {{timeText}} </ion-label>
      </div>
      {{title1}} {{title3}}
      <ion-item class="itemBox ion-margin ion-text-center" lines="none">
        <ion-label class="text" [style.color]="lbl1color">
          {{label1}}
        </ion-label>
        <ion-label class="text" [style.color]="lbl1color">
          {{label3}}
        </ion-label>
      </ion-item>

      <ion-item class="itemBox ion-margin ion-text-center" lines="none">
        <ion-label> {{label2}} </ion-label>
        <ion-label> {{label4}} </ion-label>
      </ion-item>
      {{title2}} {{title4}}

      <div
        id="falseButton"
        class="ion-float-end"
        *ngIf="playing"
        (click)="clicked('false')"
      >
        <ion-button>False</ion-button>
      </div>

      <div
        id="trueButton"
        class="ion-float-end"
        *ngIf="playing"
        (click)="clicked('true')"
      >
        <ion-button>True</ion-button>
      </div>
    </div>

    <div *ngIf="ended">
      <ion-label> {{finalResult}} </ion-label>
    </div>
  </div>

  <div *ngIf="drawChart">
    <app-user-vs-average-chart></app-user-vs-average-chart>
  </div>
</ion-content>
