<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text class="ion-text-center" style="margin-left: -48px;">
      Go/No-Go Game
    </ion-title>
  </ion-toolbar>
  <ion-item *ngIf="playing">
    <ion-text>Time remeaning</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item *ngIf="playing">
    <ion-text>Points</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding">

  <div id="asd">

    <ion-slides *ngIf="!playing && !ended">
      <ion-slide class="ion-padding">
        <div class="slide">
          <img style="height: 300px; width: 300px;" src=""/>
          <h2>Go/No-Go Game</h2>
          <p>The <b>colour game</b> is a game to develop your focus.</p>
          <p>Swipe for more information <ion-icon slot="end" name="arrow-forward"></ion-icon></p>
        </div>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>How to play?</h2>
        <p>You have only 120 seconds to play.</p>
        <p>As you can see there are two labels. You have to <b>press</b> or the true button if the text of the first label and the colour of the bottom label is the same, either you have to <b>press</b> the false button if it is not true.</p>
        <p>Swipe for more information <ion-icon slot="end" name="arrow-forward"></ion-icon></p>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>Ready to Play?</h2>
        <ion-button fill="clear" (click)="start()">Start <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>
  </ion-slides>

    <ion-card *ngIf="playing" class="ion-padding">
      <ion-card class="ion-padding">
        <ion-label>
          {{timeText2}}
        </ion-label>
      </ion-card>
      <ion-card>
        <ion-card-content>{{generatedTaskNumberText}}</ion-card-content>
      </ion-card>
      

      <ion-item class="asd123" lines="none"> 
        <ion-label class="ion-text-center">
          {{numberCard}}
        </ion-label>
      </ion-item>

      <ion-button (click)="pushed()">True!</ion-button>
    </ion-card>

    <div *ngIf="!playing && ended">
      <ion-label>
        {{finalResult}}
      </ion-label>
    </div>

    <div *ngIf="drawChart" class="ion-padding">
      <app-user-vs-average-chart></app-user-vs-average-chart>
    </div>

  </div>
</ion-content>