<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text class="ion-text-center" style="margin-left: -48px;">
      Go/No-Go Game
    </ion-title>
  </ion-toolbar>
  <ion-item *ngIf="playing">
    <ion-text>Time remeaning</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item *ngIf="playing">
    <ion-text>Points</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding">

  <div id="asd">

    <ion-card>
      <ion-card-content>{{task}}</ion-card-content>
    </ion-card>

    <div *ngIf="!playing && !ended">
      <ion-button (click)="start()" expand="block">Start</ion-button>
    </div>

    <div *ngIf="playing">
      <ion-card>
        <ion-label>
          {{timeText}}, {{timeText2}}
        </ion-label>
      </ion-card>

      <ion-item class="asd123" lines="none"> 
        <ion-label class="ion-text-center">
          {{text}}
        </ion-label>
      </ion-item>

      <ion-button (click)="pushed($event)">True!</ion-button>
    </div>

    <div *ngIf="!playing && ended">
      <ion-label>
        {{finalResult}}
      </ion-label>
    </div>

  </div>
</ion-content>