<ion-header>
  <ion-title text class="ion-text-center">Go/No-go game</ion-title>
</ion-header>

<ion-content class="ion-padding">

  <div id="asd">

    <ion-card>
      <ion-card-content>{{task}}</ion-card-content>
    </ion-card>

    <div *ngIf="!playing && !ended">
      <ion-button (click)="start()" expand="block">Start</ion-button>
    </div>

    <div *ngIf="playing">
      <ion-card>
        <ion-label>
          {{timeText}}, {{timeText2}}
        </ion-label>
      </ion-card>

      <ion-item class="asd123" lines="none"> 
        <ion-label class="ion-text-center">
          {{text}}
        </ion-label>
      </ion-item>

      <ion-button (click)="pushed($event)">True!</ion-button>
    </div>

    <div *ngIf="!playing && ended">
      <ion-label>
        {{finalResult}}
      </ion-label>
    </div>

  </div>
</ion-content>