ion-header{
    height: auto;
    background-color: #F19066;
}

ion-title{
    font-size: 30px;
    color: white;
    width: auto;
    margin: auto;
    padding: 20px;
}

ion-content{
    --ion-background-color: #F3A683;
}

ion-content-title{
    padding-top: 15px!important;
}

ion-card {
    width: auto !important;
    min-width: 25% !important;
    max-width: 35% !important;
}

.game-cards {
    display: flex !important;
    flex-direction: row !important;
    overflow-x: auto !important;
}

.games-category{
    color: black;
    padding: 20px 20px 0px 10px;
    font-size: 20px;
}
