<ion-header>
    <ion-title text class="ion-text-center">Games</ion-title>
</ion-header>

<ion-content>
    <ion-title class="games-category">Attention</ion-title>
    <ion-list class="game-cards">
        <ion-card>
            <ion-img src="assets/img/unnamed.png"></ion-img>
            <ion-card-content>1st game</ion-card-content>
        </ion-card>

        <ion-card>
            <ion-img src="assets/img/unnamed.png"></ion-img>
            <ion-card-content>2nd game</ion-card-content>
        </ion-card>

        <ion-card>
            <ion-img src="assets/img/unnamed.png"></ion-img>
            <ion-card-content>3rd game</ion-card-content>
        </ion-card>

        <ion-card>
            <ion-img src="assets/img/unnamed.png"></ion-img>
            <ion-card-content>4th game</ion-card-content>
        </ion-card>  
    </ion-list>    



    <ion-title class="games-category">Problem solving</ion-title>
    <ion-list class="game-cards">
        <ion-card>
            <ion-img src="assets/img/unnamed.png"></ion-img>
            <ion-card-content>1st game</ion-card-content>
        </ion-card>

        <ion-card>
            <ion-img src="assets/img/unnamed.png"></ion-img>
            <ion-card-content>2nd game</ion-card-content>
        </ion-card>

        <ion-card>
            <ion-img src="assets/img/unnamed.png"></ion-img>
            <ion-card-content>3rd game</ion-card-content>
        </ion-card>

        <ion-card>
            <ion-img src="assets/img/unnamed.png"></ion-img>
            <ion-card-content>4th game</ion-card-content>
        </ion-card>  
    </ion-list>    

    <ion-title class="games-category">Memory</ion-title>
    <ion-list class="game-cards">
        <ion-card>
            <ion-img src="assets/img/unnamed.png"></ion-img>
            <ion-card-content>1st game</ion-card-content>
        </ion-card>

        <ion-card>
            <ion-img src="assets/img/unnamed.png"></ion-img>
            <ion-card-content>2nd game</ion-card-content>
        </ion-card>

        <ion-card>
            <ion-img src="assets/img/unnamed.png"></ion-img>
            <ion-card-content>3rd game</ion-card-content>
        </ion-card>

        <ion-card>
            <ion-img src="assets/img/unnamed.png"></ion-img>
            <ion-card-content>4th game</ion-card-content>
        </ion-card>  
    </ion-list>    
</ion-content>
