ion-toolbar {
    --ion-background-color: #f19066 !important;
    border-bottom-left-radius: 300px 100px;
    border-bottom-right-radius: 300px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-toolbar-container{
    --ion-background-color: #EEEEEE;
}

ion-img{
    height:200px;
    width: 200px;
    margin: auto;
}


ion-card{
    --ion-background-color: #F3A683;
}

ion-icon{
    color: white;
    text-align: center;
}

@media only screen and (min-width: 1001px) and (max-width: 1500px) {
    #mid {
        margin: auto;
        width: 70%;
        padding: 10px;
    }
}

@media only screen and (min-width: 1501px) {
    #mid {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
}