<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <ion-img src="assets/img/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="mid">
    
  <ion-card class="ion-padding">
    <ion-item lines="none">
      <ion-label class="ion-text-wrap" color="secondary">{{"HOME.greeting" | translate:fullName}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item (click)="goToGames()" lines="none">
      <ion-label class="ion-text-wrap" color="secondary">{{"HOME.clickHereToCheckTheGames" | translate}}</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" ></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item (click)="playWithLastGame()" lines="none">
      <ion-label class="ion-text-wrap" color="secondary">{{"HOME.clickHereToPlayLastGame" | translate:params}}</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" ></ion-icon>
    </ion-item>
  </ion-card>
</div>
</ion-content>

