<ion-header>
  <ion-title text class="ion-text-center">Colour Game</ion-title>
</ion-header>

<ion-content class="ion-padding ion-text-center">


  <div *ngIf="!playing && !ended">
    <ion-button (click)="start()">
      Let's start!
    </ion-button>
  </div>
  <div id="asd">
    <div id="mid" *ngIf="playing">
      <!--<div>
        <ion-label>
          {{timeText}}
        </ion-label>
      </div>-->
      
      <ion-item class="itemBox ion-margin ion-text-center" lines="none" (click)="clicklbl1()" *ngIf="!clickedlbl1text && lbl1text">
        <ion-label class="text" [style.color]="lbl1color">
          {{lbl1text}}
        </ion-label>
      </ion-item>

      <ion-item class="itemBox ion-margin ion-text-center" lines="none" (click)="clicklbl2()" *ngIf="lbl2text && !clickedlbl2text">
        <ion-label>
          {{lbl2text}}
        </ion-label>
      </ion-item>
      
      <ion-item class="itemBox ion-margin ion-text-center" lines="none" (click)="clicklbl3()" *ngIf="lbl3text && !clickedlbl3text">
        <ion-label>
          {{lbl3text}}
        </ion-label>
      </ion-item>

      <ion-item class="itemBox ion-margin ion-text-center" lines="none" (click)="clicklbl4()" *ngIf="lbl4text && !clickedlbl4text">
        <ion-label>
          {{lbl4text}}
        </ion-label>
      </ion-item>

      <ion-item class="itemBox ion-margin ion-text-center" lines="none" (click)="clicklbl5()" *ngIf="lbl5text && !clickedlbl5text">
        <ion-label>
          {{lbl5text}}
        </ion-label>
      </ion-item>

      <ion-item class="itemBox ion-margin ion-text-center" lines="none" (click)="clicklbl6()" *ngIf="lbl6text && !clickedlbl6text">
        <ion-label>
          {{lbl6text}}
        </ion-label>
      </ion-item>

      <ion-item class="itemBox ion-margin ion-text-center" lines="none" (click)="clicklbl7()" *ngIf="lbl7text && !clickedlbl7text">
        <ion-label>
          {{lbl7text}}
        </ion-label>
      </ion-item>

      <!--<div>
        <ion-label>
          {{result}}
        </ion-label>
      </div>-->
    </div>

    <!--
    <div *ngIf="ended">
      <ion-label>
        {{finalResult}}
      </ion-label>
    </div>-->


    <div class="ion-padding">
      <!--
      <div id="left" class="ion-float-left" *ngIf="playing" (click)="leftButton($event)">
        <ion-button>false</ion-button>
      </div>-->
      <div id="right" class="ion-float-end" *ngIf="playing" (click)="clicked($event)">
        <ion-button>true</ion-button>
      </div>
    </div>
  </div>
</ion-content>