<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text class="ion-text-center" style="margin-left: -48px">
      {{"SORTINGGAME.title" | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-item *ngIf="playing">
    <ion-text>{{"SORTINGGAME.time" | translate}}</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item *ngIf="playing">
    <ion-text>{{"SORTINGGAME.points" | translate}}</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides *ngIf="!playing && !ended">
    <ion-slide class="ion-padding">
      <div class="slide">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>{{"SORTINGGAME.title" | translate}}</h2>
        <p [innerHTML]="'SORTINGGAME.firstText' | translate"></p>
        <p>{{"SORTINGGAME.swipe" | translate}} <ion-icon slot="end" name="arrow-forward"></ion-icon></p>
      </div>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img style="height: 300px; width: 300px;" src=""/>
      <h2>{{"SORTINGGAME.howToPlay" | translate}}</h2>
      <p [innerHTML]="'SORTINGGAME.tutorialText' | translate"></p>
      <p>{{"SORTINGGAME.swipe" | translate}} <ion-icon slot="end" name="arrow-forward"></ion-icon></p>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img style="height: 300px; width: 300px;" src=""/>
      <h2>{{"SORTINGGAME.howMuchTime" | translate}}</h2>
      <p>{{"SORTINGGAME.timeText" | translate}}</p>
      <p>{{"SORTINGGAME.swipe" | translate}} <ion-icon slot="end" name="arrow-forward"></ion-icon></p>
    </ion-slide>

    <ion-slide class="ion-padding">
      <img style="height: 300px; width: 300px;" src=""/>
      <h2>{{"SORTINGGAME.ready" | translate}}</h2>
      <ion-button fill="clear" (click)="start()">Start<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
</ion-slides>

  <ion-card *ngIf="playing" class="ion-padding">

    <ion-card id="numbers"
      *ngFor="let num of selectedNumbers; let i = index"
      (click)="clickOnItem(num, i)"
      class="ion-activatable ripple-parent"
      [class.hidden]="clickedItems.includes(num)"
    >
      <div class="container">
        <h3>{{ num }}</h3>
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>
  </ion-card>

  <div *ngIf="drawChart" class="ion-padding">
    <app-user-vs-average-chart></app-user-vs-average-chart>
  </div>
</ion-content>
