ion-title{
  font-size: 30px;
  color: white;
  text-align: center;
  margin: auto;
  padding: 20px;
}

ion-toolbar {
--ion-background-color: #F19066 !important;
}

.hidden {
  visibility: hidden;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

ion-toolbar {
    --ion-background-color: #F19066 !important;
}

ion-card {
    background-color: #F19066;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    height: 75px;

    .container {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
    }
}