<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary" [ngStyle]="titleStyle()" class="ion-text-center ion-padding" style="margin-left: -48px;">
      {{"COLOURGAME.title" | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-item lines="none" *ngIf="playing">
    <ion-text>{{"COLOURGAME.time" | translate}}</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item lines="none" *ngIf="playing">
    <ion-text>{{"COLOURGAME.points" | translate}}</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div id="mid">
    <ion-slides *ngIf="!playing && !ended">
        <ion-slide class="ion-padding">
          <div class="slide">
            <img *ngIf="language === 'hu'" style="height: 300px; width: 300px;" src="../../../assets/img/colourgame/colourgame-logoHUN.PNG"/>
            <img *ngIf="language === 'en'" style="height: 300px; width: 300px;" src="../../../assets/img/colourgame/colourgame-logoENG.PNG"/>
            <h2>{{"COLOURGAME.title" | translate}}</h2>
            <p [innerHTML]="'COLOURGAME.firstText' | translate"></p>
            <p>{{"COLOURGAME.swipe" | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
          </div>
        </ion-slide>

        <ion-slide class="ion-padding">
          <img *ngIf="language === 'hu'" style="height: 300px; width: 300px;" src="../../../assets/img/colourgame/colourgame-tutorialHUN.PNG"/>
          <img *ngIf="language === 'en'" style="height: 300px; width: 300px;" src="../../../assets/img/colourgame/colourgame-tutorialENG.PNG"/>
          <h2>{{"COLOURGAME.howToPlay" | translate}}</h2>
          <p [innerHTML]="'COLOURGAME.tutorialText' | translate"></p>
          <p>{{"COLOURGAME.swipe" | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
        </ion-slide>

        <ion-slide class="ion-padding">
          <img style="height: 300px; width: 300px;" src="../../../assets/img/120.PNG"/>
          <h2>{{"COLOURGAME.howMuchTime" | translate}}</h2>
          <p>{{"COLOURGAME.timeText" | translate}}</p>
          <p>{{"COLOURGAME.swipe" | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
        </ion-slide>

        <ion-slide class="ion-padding">
          <img *ngIf="language === 'hu'" style="height: 300px; width: 300px;" src="../../../assets/img/readyHUN.PNG"/>
          <img *ngIf="language === 'en'" style="height: 300px; width: 300px;" src="../../../assets/img/readyENG.PNG"/>
          <h2>{{"COLOURGAME.ready" | translate}}</h2>
          <ion-button fill="clear" (click)="start()">Start <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>
    </ion-slides>

  
    <ion-card *ngIf="playing">
      <ion-grid class="ion-padding">
        <ion-row class="ion-padding">
          <ion-col></ion-col>
          <ion-col style="width:100%;">
            <ion-card class="labelCard" >
            <ion-label *ngIf="!lbl1textHUN" class="text ion-padding" [style.color]="lbl1color" id="lbl1">
              {{lbl1text}}
            </ion-label>
            <ion-label *ngIf="lbl1textHUN" class="text ion-padding" [style.color]="lbl1color" id="lbl1">
              {{lbl1textHUN}}
            </ion-label>
          </ion-card>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row class="ion-padding">
          <ion-col></ion-col>
          <ion-col>
            <ion-card class="labelCard" >
            <ion-label *ngIf="!lbl2textHUN" id="lbl2" class="text ion-padding" [style.color]="lbl2color">
             {{lbl2text}}
            </ion-label>
            <ion-label *ngIf="lbl2textHUN" id="lbl2" class="text ion-padding" [style.color]="lbl2color">
              {{lbl2textHUN}}
             </ion-label>
        </ion-card>
        </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row  class="ion-padding">
          <ion-col></ion-col>
          <ion-col>
              <ion-button class="ion-padding" (click)="falseButtonClick()">{{"COLOURGAME.false" | translate}}</ion-button>
          </ion-col>
          <ion-col>
              <ion-button class="ion-padding" (click)="trueButtonClick()">{{"COLOURGAME.true" | translate}}</ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>

    <div id="mid" *ngIf="ended">
      <ion-label>
        {{"GAMES.finalResult" | translate}}{{result}}
      </ion-label>
    </div>
  

  <div *ngIf="drawChart && ended">
    <app-user-vs-average-chart></app-user-vs-average-chart>
  </div>
</div>
</ion-content>