<ion-header>
  <ion-title text class="ion-text-center">Game 8</ion-title>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div id="asd">

    <div *ngIf="!playing && !ended">
      <ion-button (click)="onStart()">
        Let's start!
      </ion-button>
    </div>
    <div id="mid" *ngIf="playing">
      <div>
        <ion-label>
          {{timeText}}
        </ion-label>
      </div>
      {{title}}
    </div>

    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <div id="upButton" *ngIf="playing" (click)="clicked('Up')">
            <ion-button>
              <ion-icon name="arrow-up-circle-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div id="upButton" *ngIf="playing" (click)="clicked('Left')">
            <ion-button>
              <ion-icon name="arrow-back-circle-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col></ion-col>
        <ion-col>
          <div id="upButton" *ngIf="playing" (click)="clicked('Up')">
            <ion-button>
              <ion-icon name="arrow-forward-circle-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <div id="upButton" *ngIf="playing" (click)="clicked('Down')">
            <ion-button>
              <ion-icon name="arrow-down-circle-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="ended">
      <ion-label>
        {{finalResult}}
      </ion-label>
    </div>
  </div>

  <div *ngIf="drawChart">
    <app-user-vs-average-chart></app-user-vs-average-chart>
  </div>

</ion-content>
