<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon color="secondary" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text class="ion-text-center" style="margin-left: -48px">
      {{"DIRECTIONS.title" | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-item *ngIf="playing">
    <ion-text>{{"DIRECTIONS.time" | translate}}</ion-text>
    <ion-text slot="end">{{timeText}}</ion-text>
  </ion-item>
  <ion-item *ngIf="playing">
    <ion-text>{{"DIRECTIONS.points" | translate}}</ion-text>
    <ion-text slot="end">{{result}}</ion-text>
  </ion-item>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div id="asd">
    <ion-slides *ngIf="!playing && !ended">
      <ion-slide class="ion-padding">
        <div class="slide">
          <img style="height: 300px; width: 300px;" src=""/>
          <h2>{{"DIRECTIONS.title" | translate}}</h2>
          <p [innerHTML]="'DIRECTIONS.firstText' | translate"></p>
          <p>{{"DIRECTIONS.swipe" | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
        </div>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>{{"DIRECTIONS.howToPlay" | translate}}</h2>
        <p>{{"DIRECTIONS.tutorialText" | translate}}</p>
        <p>{{"DIRECTIONS.swipe" | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>{{"DIRECTIONS.howMuchTime" | translate}}</h2>
        <p>{{"DIRECTIONS.timeText" | translate}}</p>
        <p>{{"DIRECTIONS.swipe" | translate}}<ion-icon slot="end" name="arrow-forward"></ion-icon></p>
      </ion-slide>

      <ion-slide class="ion-padding">
        <img style="height: 300px; width: 300px;" src=""/>
        <h2>{{"DIRECTIONS.ready" | translate}}</h2>
        <ion-button fill="clear" (click)="onStart()">Start <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-card *ngIf="playing">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="titleCard">
            <h3>{{title}}</h3>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <div id="upButton" *ngIf="playing" (click)="clicked('Up')">
            <ion-button size="large">
              <ion-icon name="arrow-up-circle-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div id="upButton" *ngIf="playing" (click)="clicked('Left')">
            <ion-button size="large">
              <ion-icon name="arrow-back-circle-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col></ion-col>
        <ion-col>
          <div id="upButton" *ngIf="playing" (click)="clicked('Up')">
            <ion-button size="large">
              <ion-icon name="arrow-forward-circle-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <div id="upButton" *ngIf="playing" (click)="clicked('Down')">
            <ion-button size="large">
              <ion-icon name="arrow-down-circle-sharp"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="ended">
      <ion-label> {{finalResult}} </ion-label>
    </div>
  </ion-card>

  <div *ngIf="drawChart">
    <app-user-vs-average-chart></app-user-vs-average-chart>
  </div>
</ion-content>
