/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.toast-login {
    --height: 200px !important;
}

.asd123{
    margin: auto;
    width: 30%;
    font-size: 50px;
    border-color: #403E39;
    border-width: thin;
    border-style: solid;
    border-radius: 3px;
}

ion-header{
    background-color: #F19066;
    min-height: 50px;
    height: auto;
}

ion-title{
    font-size: 30px;
    color: white;
    width: auto;
    margin: auto;
    padding: 20px;
}

ion-content{
    --ion-background-color: #F3A683;
}

ion-icon{
    color: white;
    text-align: center;
}

ion-card{
    border: 2px solid black;
    border-radius: 25px;
    min-height: 50px;
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    #asd {
        margin: auto;
        width: 80%;
        padding: 10px;
    }

    .itemBox{
        width: 70%;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
    #asd {
        margin: auto;
        width: 70%;
        padding: 10px;
    }
}

@media only screen and (min-width: 1201px) {
    #asd {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
}
