ion-tab-bar{
    background: #F19066;
}

ion-tab-button{
    background: #F19066;
}

ion-tab-button.tab-selected{
    ion-icon, ion-label {
        color: #EA6328 !important;
    }
}

ion-icon, ion-label{
    color: white;
}

