<ion-header>
    <ion-img src="assets/img/unnamed.png"></ion-img>
    <ion-title class="ion-padding-bottom" class="ion-padding-bottom">Confundo Episko</ion-title>
</ion-header>

<ion-content>
  <div id="asd">
  <ion-card>
    <ion-item lines="none">
      <ion-label class="ion-text-wrap" color="secondary">Welcome to the application which has the best cognitive games</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item (click)="goToGames()" lines="none">
      <ion-label color="secondary">Click here to play the games!</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" class="ion-padding-end"></ion-icon>
    </ion-item>
  </ion-card>
</div>
</ion-content>

