ion-header{
    height: auto;
    background-color: #F19066;
}

ion-title{
    font-size: 30px;
    color: white;
    width: auto;
    margin: auto;
    padding: 20px;
}

ion-content{
    --ion-background-color: #F3A683;
    
}

ion-content-title{
    padding-top: 15px!important;
}

ion-card {
    width: auto !important;
    min-width: 25% !important;
    max-width: 35% !important;
}

.game-cards {
    display: flex !important;
    flex-direction: row !important;
    overflow-x: auto !important;
}

.games-category{
    color: white;
    padding: 20px 20px 0px 10px;
    font-size: 20px;
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    #asd {
        margin: auto;
        width: 80%;
        padding: 10px;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1100px) {
    #asd {
        margin: auto;
        width: 70%;
        padding: 10px;
    }

    .games-category{
        font-size: 25px;
    }
}

@media only screen and (min-width: 1101px) {
    #asd {
        margin: auto;
        width: 60%;
        padding: 10px;
    }

    .games-category{
        font-size: 30px;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
   
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #e77f67; 
        border-radius: 10px;
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #cb705b;
    }
}
