#pageTitle{
    font-size: 30px;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px;
}

ion-toolbar {
  --ion-background-color: #F19066 !important;
}

ion-card {
    --ion-background-color: #F3A683;
}

ion-card-content{
    color: #FFFFFF;
    font-size: 14px;
}

h3{
    margin: 0;
}

.game-cards {
    display: flex !important;
    flex-direction: row !important;
    overflow-x: auto !important;
}

.games-category{
    color: #F19066!important;
}
@media only screen and (min-width: 1001px) and (max-width: 1100px) {
    #mid {
        margin: auto;
        width: 70%;
        padding: 10px;
    }

    .games-category{
        font-size: 25px;
    }
}

@media only screen and (min-width: 1101px) {
    #mid {
        margin: auto;
        width: 60%;
        padding: 10px;
    }

    .games-category{
        font-size: 30px;
    }
    ion-card-content{
        font-size: 18px;
    }

    #pageTitle{
        font-size: 36px;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
   
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #e77f67; 
        border-radius: 10px;
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #cb705b;
    }
}
