ion-header{
    background-color: #F19066;
    min-height: 50px;
    height: auto;
}

ion-title{
    font-size: 30px;
    color: white;
    width: auto;
    margin: auto;
    padding: 20px;
}

ion-content{
    --ion-background-color: #F3A683;
}

ion-icon{
    color: white;
    text-align: center;
}

ion-card{
    border: 2px solid black;
    border-radius: 25px;
    min-height: 50px;
}

ion-label{
    font-size: 25px;
}
